<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Bob Marley added "Final Exam" to his assignments. Would you like to add it as well?
</div>

<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  You have "Midterm Exam" due in 2 days.
</div>

<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  James Madison has joined your course "EMAE 160".
</div>

<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Remeber to update your score for "Homework 2".
</div>

<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  You "have Homework 10" due in 1 week.
</div>