// Base styles

* {
  @include box-sizing(border-box);
}

body {
  font-size: 87.5%;
  color: #333333;
  background: url('bg-noise.gif') ;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 20px;
}

// Base table styles

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

// Link styles

a {
  color: #37475c;
  text-decoration: none;

  &:hover, 
  &:focus {
    color: #254e77;
  }
}

header a {
  color: #fff;

  &:hover, 
  &:focus {
    color: #ddd;
  }
}

ul, ol {
  //padding-left: 20px;
  > li {
    line-height: 1.6;
  }
}

// Base input styles

input,
textarea {
  @include box-shadow(0 1px 2px rgba(0,0,0,.15) inset);
  margin-bottom: 15px;
  height: auto;
  padding: 5px;
  max-width: 100%;
  border: 1px solid #bbb;
  border-radius: 4px;
}

textarea {
  height: 200px;
}

label {
  display: block;
  margin-bottom: 5px;
}

// Color mixins

$success-color: #8e9943;
$alert-color: #edc52f;
$warning-color: #ff6501;
$danger-color: #e01822;



