<div class="horizontal-slider  ptl">
  	<ul class="">
  		<li>
			<a href="#khan-video1" class="" onclick = "$('#khan-video1').modal()"><%= image_tag("http://img.youtube.com/vi/ihNZlp7iUHE/0.jpg", :alt => "rss feed") %></a>
  		</li>
  		<li>
  			<a href="#khan-video2" class="" onclick = "$('#khan-video2').modal()"><%= image_tag("http://img.youtube.com/vi/oRKxmXwLvUU/0.jpg", :alt => "rss feed") %></a>
  		</li>
  		<li>
			<a href="#khan-video3" class="" onclick = "$('#khan-video3').modal()"><%= image_tag("http://img.youtube.com/vi/awzOvyMKeMA/0.jpg", :alt => "rss feed") %></a>
  		</li>
  		<li>
  			<a href="#khan-video4" class="" onclick = "$('#khan-video4').modal()"><%= image_tag("http://img.youtube.com/vi/lQ-dvt3V4yQ/0.jpg", :alt => "rss feed") %></a>
  		</li>
  	</ul>
</div>





