<div class="row-fluid">
  	<div id="grade_progress_chart" class="" style="height:80px;">

  	</div>
</div>
<div class="row-fluid ptl">


		<%= render partial: "grades/grade_carousel" %>
</div>
<div class="row-fluid ptl">


		<%= render partial: "grades/grade_table" %>
</div>
<div class="row-fluid ptl">

    <%= render partial: "assignments/form" %>
</div>

  <div class="row-fluid">
  	<%= render partial: "videos/khan_academy" %>
  </div>
